In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Read the CSV as a DataFrame 
delhi_df = pd.read_csv("delhi_weather.csv")

delhi_df

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [3]:
#Display data types
delhi_df.dtypes

datetime_utc     object
 _conds          object
 _dewptm        float64
 _fog             int64
 _hail            int64
 _heatindexm    float64
 _hum           float64
 _precipm       float64
 _pressurem     float64
 _rain            int64
 _snow            int64
 _tempm         float64
 _thunder         int64
 _tornado         int64
 _vism          float64
 _wdird         float64
 _wdire          object
 _wgustm        float64
 _windchillm    float64
 _wspdm         float64
dtype: object

In [4]:
#Removing all leading space and underscores in column names
delhi_df.columns = delhi_df.columns.str.replace(' _', '')
delhi_df

,datetime_utc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [5]:
#Counting NaN values to determine which columns can be dropped
delhi_df.isna().sum()

datetime_utc         0
conds               72
dewptm             621
fog                  0
hail                 0
heatindexm       71835
hum                757
precipm         100990
pressurem          232
rain                 0
snow                 0
tempm              673
thunder              0
tornado              0
vism              4428
wdird            14755
wdire            14755
wgustm           99918
windchillm      100411
wspdm             2358
dtype: int64

In [6]:
#Dropping columns that cannot or will not be used
delhi_cleaned = delhi_df.drop(['heatindexm','precipm','wgustm','windchillm'], axis=1)
delhi_cleaned.isna().sum()

datetime_utc        0
conds              72
dewptm            621
fog                 0
hail                0
hum               757
pressurem         232
rain                0
snow                0
tempm             673
thunder             0
tornado             0
vism             4428
wdird           14755
wdire           14755
wspdm            2358
dtype: int64

In [7]:
#Dropping all rows with NaN now that the columns with mostly NaN 
#will not cause us to drop almost every row
delhi_cleaned = delhi_cleaned.dropna()

In [8]:
#Checking again for NaN
delhi_cleaned.isna().sum()

datetime_utc    0
conds           0
dewptm          0
fog             0
hail            0
hum             0
pressurem       0
rain            0
snow            0
tempm           0
thunder         0
tornado         0
vism            0
wdird           0
wdire           0
wspdm           0
dtype: int64

In [9]:
#Determining all conds to then categorize them
delhi_cleaned['conds'].value_counts()

Haze                             40472
Smoke                            18519
Mist                              3344
Clear                             2878
Widespread Dust                   2444
Scattered Clouds                  2095
Partly Cloudy                     1966
Fog                               1693
Shallow Fog                       1656
Mostly Cloudy                     1462
Light Rain                        1035
Thunderstorms and Rain             411
Blowing Sand                       374
Rain                               360
Light Drizzle                      316
Overcast                           307
Patches of Fog                     274
Partial Fog                        251
Unknown                            234
Heavy Fog                          205
Thunderstorm                       173
Light Thunderstorms and Rain       168
Drizzle                            103
Light Thunderstorm                  43
Heavy Rain                          27
Light Fog                           26
Heavy Thunderstorms and Rain        19
Thunderstorms with Hail              9
Squalls                              6
Light Sandstorm                      6
Light Haze                           4
Light Rain Showers                   4
Funnel Cloud                         2
Rain Showers                         2
Heavy Thunderstorms with Hail        1
Sandstorm                            1
Light Hail Showers                   1
Name: conds, dtype: int64

In [10]:
#Dropping rows with "Unknown" conditions
delhi_cleaned = delhi_cleaned[delhi_cleaned.conds != 'Unknown']

In [11]:
#Checking that 'Unknown' condition was removed
delhi_cleaned['conds'].value_counts()

Haze                             40472
Smoke                            18519
Mist                              3344
Clear                             2878
Widespread Dust                   2444
Scattered Clouds                  2095
Partly Cloudy                     1966
Fog                               1693
Shallow Fog                       1656
Mostly Cloudy                     1462
Light Rain                        1035
Thunderstorms and Rain             411
Blowing Sand                       374
Rain                               360
Light Drizzle                      316
Overcast                           307
Patches of Fog                     274
Partial Fog                        251
Heavy Fog                          205
Thunderstorm                       173
Light Thunderstorms and Rain       168
Drizzle                            103
Light Thunderstorm                  43
Heavy Rain                          27
Light Fog                           26
Heavy Thunderstorms and Rain        19
Thunderstorms with Hail              9
Squalls                              6
Light Sandstorm                      6
Light Rain Showers                   4
Light Haze                           4
Funnel Cloud                         2
Rain Showers                         2
Heavy Thunderstorms with Hail        1
Sandstorm                            1
Light Hail Showers                   1
Name: conds, dtype: int64

In [12]:
columns_to_haze = ['Fog', 'Shallow Fog', 'Smoke', 'Heavy Fog', 'Blowing Sand', 'Light Fog', 'Light Haze', 'Patches of Fog', 'Sandstorm', 'Light Sandstorm', 'Partial Fog', 'Volcanic Ash', 'Widespread Dust']    
columns_to_rain = ['Drizzle', 'Partial Rain', 'Light Rain', 'Heavy Rain', 'Heavy Thunderstorms and Rain', 'Heavy Thunderstorms with Hail', 'Light Drizzle', 'Light Rain Showers', 'Light Thunderstorm', 'Light Thunderstorms and Rain', 'Rain Showers', 'Thunderstorm', 'Thunderstorms and Rain', 'Thunderstorms with Hail', 'Light Hail Showers', 'Mist', 'Light Freezing Rain', 'Squalls'] 
columns_to_cloudy = ['Overcast', 'Mostly Cloudy', 'Partly Cloudy', 'Scattered Clouds', 'Funnel Cloud']

In [13]:
columns_to_rain

['Drizzle',
 'Partial Rain',
 'Light Rain',
 'Heavy Rain',
 'Heavy Thunderstorms and Rain',
 'Heavy Thunderstorms with Hail',
 'Light Drizzle',
 'Light Rain Showers',
 'Light Thunderstorm',
 'Light Thunderstorms and Rain',
 'Rain Showers',
 'Thunderstorm',
 'Thunderstorms and Rain',
 'Thunderstorms with Hail',
 'Light Hail Showers',
 'Mist',
 'Light Freezing Rain',
 'Squalls']

In [14]:
#Consolidating conditions
delhi_categories = delhi_cleaned.replace(columns_to_haze, 'Haze')
delhi_categories = delhi_categories.replace(columns_to_rain, 'Rain')
delhi_categories = delhi_categories.replace(columns_to_cloudy, 'Cloudy')                                         
#delhi_cleaned['conds'] = delhi_cleaned.conds.map({columns_to_haze:'Haze'})

In [15]:
delhi_categories['conds'].value_counts()

Haze      65925
Rain       6022
Cloudy     5832
Clear      2878
Name: conds, dtype: int64

In [16]:
delhi_categories

,datetime_utc,conds,dewptm,fog,hail,hum,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wspdm
0,19961101-11:00,Haze,9.0,0,0,27.0,1010.0,0,0,30.0,0,0,5.0,280.0,West,7.4
4,19961101-16:00,Haze,11.0,0,0,47.0,1011.0,0,0,23.0,0,0,1.2,0.0,North,0.0
6,19961101-18:00,Haze,13.0,0,0,60.0,1010.0,0,0,21.0,0,0,0.8,0.0,North,0.0
14,19961102-02:00,Haze,10.0,0,0,52.0,1011.0,0,0,20.0,0,0,2.0,200.0,SSW,9.3
15,19961102-03:00,Haze,10.0,0,0,46.0,1012.0,0,0,22.0,0,0,3.5,240.0,WSW,9.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,25.0,1005.0,0,0,34.0,0,0,4.0,320.0,NW,11.1
100986,20170424-09:00,Haze,14.0,0,0,16.0,1003.0,0,0,38.0,0,0,4.0,320.0,NW,22.2
100987,20170424-12:00,Haze,12.0,0,0,14.0,1002.0,0,0,36.0,0,0,4.0,270.0,West,18.5
100988,20170424-15:00,Haze,15.0,0,0,27.0,1004.0,0,0,32.0,0,0,2.0,320.0,NW,3.7
100989,20170424-18:00,Haze,15.0,0,0,30.0,1005.0,0,0,30.0,0,0,2.0,320.0,NW,3.7

In [17]:
#Exporting the cleaned DataFrame as a CSV to serve as the provisional database
delhi_categories.to_csv("delhi_weather_cleaned.csv")